/* Javadoc style sheet */

/* Page background color */
body { background-color: #FFFFFF }

/* Headings */
h1 { font-size: 145% }
h2 { font-size: 121% }
h3 { font-size: 110% }

/* Table colors */
.TableHeadingColor     { background: #CCCCFF } /* Dark mauve */
.TableSubHeadingColor  { background: #EEEEFF } /* Light mauve */
.TableRowColor         { background: #FFFFFF } /* White */

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 100%; font-family: Helvetica, sans-serif }
.FrameHeadingFont { font-size:  90%; font-family: Helvetica, sans-serif }
.FrameItemFont    { font-size:  90%; font-family: Helvetica, sans-serif }

/* Navigation bar fonts and colors */
.NavBarCell1      { background-color:#EEEEFF;} /* Light mauve */
.NavBarCell1Rev   { background-color:#00008B;} /* Dark Blue */
.NavBarFont1      { font-family: Helvetica, sans-serif; color:#000000 }
.NavBarFont1Rev   { font-family: Helvetica, sans-serif; color:#FFFFFF }

.NavBarCell2      { font-family: Helvetica, sans-serif; background-color:#FFFFFF }
.NavBarCell3      { font-family: Helvetica, sans-serif; background-color:#FFFFFF }

.JavaSample       { background-color:#eeeeee;
                    border-style:solid;
                    border-width:1pt;
                    border-color:#999999;
                    padding:2pt;
                    margin-top:3pt;
                    margin-bottom:3pt }
.Sample           { background-color:#eeeeff;
                    border-style:solid;
                    border-width:1pt;
                    border-color:#999999;
                    padding:2pt;
                    margin-top:3pt;
                    margin-bottom:3pt }
.TeXSample        { background-color:#eeffee;
                    border-style:solid;
                    border-width:1pt;
                    border-color:#999999;
                    padding:2pt;
                    margin-top:3pt;
                    margin-bottom:3pt }
.CLISample        { background-color:#ffeeee;
                    border-style:solid;
                    border-width:1pt;
                    border-color:#999999;
                    padding:2pt;
                    margin-top:3pt;
                    margin-bottom:3pt }
pre.syntax        { font-family: Helvetica,sans-serif;
                    background-color:#eeeeff;
                    border-style:solid;
                    border-width:1pt;
                    border-color:#000099;
                    padding:2pt;
                    margin-top:3pt;
                    margin-bottom:3pt }
pre.CLIsyntax     { font-family: Courier;
                    background-color:#eeeeff;
                    border-style:solid;
                    border-width:1pt;
                    border-color:#000099;
                    padding:2pt;
                    margin-top:3pt;
                    margin-bottom:3pt }
hr                { clear:both; }
.Figure           { border-style:solid;
                    border-width:1pt;
                    border-color:black;
                    text-align:center;
                    margin:3pt }
.TeXbook          { font-size:90%;
                    background-color:#ffff99;
                    border-style:solid;
                    border-width:1pt;
                    border-color:#993300;
                    padding:3pt;
                    margin-left:12pt;
                    margin-right:12pt;
                    margin-top:3pt;
                    margin-bottom:3pt }
                    